<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name=".free.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".free.DisplayActivity"
            android:parentActivityName=".free.MainActivity"/>
        <activity
            android:name=".free.ConfigActivity"
            android:parentActivityName=".free.MainActivity" />
        <activity
            android:name=".free.DetailsActivity"
            android:parentActivityName=".free.MainActivity">
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7487555387883892~3043909438" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" >
        </meta-data>
    </application>
</manifest>