<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ems.android.basketcounter">

    <application>
        <activity
            android:name=".paid.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".paid.DisplayActivity"
            android:parentActivityName=".paid.MainActivity"/>
        <activity
            android:name=".paid.ConfigActivity"
            android:parentActivityName=".paid.MainActivity" />
        <activity
            android:name=".paid.DetailsActivity"
            android:parentActivityName=".paid.MainActivity">
        </activity>
    </application>

</manifest>